<div class="my-24 mt-24 lg:mt-48">

    <div class="main" id="skills">

        <div class="skills-header-div my-8" data-aos="fade-up">

            <h1 class="skills-header">
                Qui somme nous ? 
            </h1>
        </div>


        @for (ab of appConfig.aboutMe; track $index) {

            <div class="skills-main-div">

                <div class="skills-image-div" data-aos="fade-right">
                    <img [src]="ab.imagePath" [alt]="ab.sectionTitle">
                </div>
    
                <div class="skills-text-div" data-aos="fade-left">
                    <h1 class="skills-heading">
                        {{ ab.sectionTitle }}
                    </h1>
    
                    <div class="social-media-div">

                        @for (l of ab.skillLinks; track $index) {

                            <!-- Si le lien existe, on met <a> -->
                            @if (l.link) {
                                <a 
                                    [href]="l.link"
                                    target="_blank"
                                    rel="noopener noreferrer" 
                                    class="icon-button"
                                    [title]="l.name">
                                    <div class="img-container" [ngStyle]="{'backgroundColor': l.backgroundColor}">
                                        <img src="{{ assetPaths.SIMPLE_ICONS }}/{{ l.simpleIconName }}.svg" />
                                    </div>
                                </a>
                            }

                            <!-- Sinon juste l'icône -->
                            @else {
                                <div class="icon-button" [title]="l.name">
                                    <div class="img-container" [ngStyle]="{'backgroundColor': l.backgroundColor}">
                                        <img src="{{ assetPaths.SIMPLE_ICONS }}/{{ l.simpleIconName }}.svg" />
                                    </div>
                                </div>
                            }

                        }
                    </div>
    
                    <div *ngFor="let sl of ab.skillsList">
                        <p class="subTitle skills-text" *ngIf="ab.sectionTitle === 'Nos services'; else normalItem" [innerHTML]="sl"></p>
                        <ng-template #normalItem>
                            <p class="subTitle skills-text">▸ {{ sl }}</p>
                        </ng-template>
                        </div>
                    </div>
            </div>
        }


    </div>
</div>