<div class="education-main">
    <div class="basic-education">
        <div class="education-heading-div">

            <div class="education-heading-img-div" data-aos="fade-right">
                <img [src]="assetPaths.EDUCATION_COVER" alt="Projects & Freelancing">
            </div>
            
            <div class="education-heading-text-div" data-aos="fade-left">
                <h1 class="education-heading-text">
                    {{ appConfig.educationPageTitle }}
                </h1>
                <p class="education-header-detail-text subTitle">
                    {{ appConfig.educationPageDescription }}
                </p>
            </div>
        </div>
    </div>

       <div class="containt-tech">

    <h2 class="tech-title">Technologies utilisées</h2>

    <div class="tech-grid">
        <div class="tech-card">
            <img src="assets/simple-icons/Java.svg" alt="Java">
            <span>Java</span>
        </div>
        <div class="tech-card">
            <img src="assets/simple-icons/PHP.svg" alt="Java">
            <span>PHP</span>
        </div>
        <div class="tech-card">
            <img src="assets/simple-icons/Javascript-tech.svg" alt="Java">
            <span>Javascript</span>
        </div>
       
        <div class="tech-card">
            <img src="assets/simple-icons/Python.svg" alt="Java">
            <span>Python</span>
        </div>
        
    </div> <br>

    <div class="tech-grid">
        <div class="tech-card">
            <img src="assets/simple-icons/Spring.svg" alt="Spring Boot">
            <span>Spring Boot</span>
        </div>
        <div class="tech-card">
            <img src="assets/simple-icons/Laravel.svg" alt="Spring Boot">
            <span>Laravel</span>
        </div>
        <div class="tech-card">
            <img src="assets/simple-icons/Symfony.svg" alt="Spring Boot">
            <span>Symfony</span>
        </div>
        <div class="tech-card">
            <img src="assets/simple-icons/Angular-tech.svg" alt="Angular">
            <span>Angular</span>
        </div>
        <div class="tech-card">
            <img src="assets/simple-icons/React-tech.svg" alt="Angular">
            <span>React</span>
        </div>
        <div class="tech-card">
            <img src="assets/simple-icons/Node.js-tech.svg" alt="Java">
            <span>Node.js</span>
        </div>
    </div> <br>

    <div class="tech-grid">
        <div class="tech-card">
            <img src="assets/simple-icons/IFS_logo_2021.png" alt="IFS">
            <span>IFS</span>
        </div>
        <div class="tech-card">
            <img src="assets/simple-icons/Odoo.svg" alt="Odoo">
            <span>Odoo</span>
        </div>
        <div class="tech-card">
            <img src="assets/simple-icons/Dolibarr.png" alt="Wordpress">
            <span>Dolibarr</span>
        </div>
    </div><br>

    <div class="tech-grid">
        <div class="tech-card">
            <img src="assets/simple-icons/Oracle.svg" alt="Oracle">
            <span>Oracle</span>
        </div>
        <div class="tech-card">
            <img src="assets/simple-icons/Postgresql.svg" alt="Docker">
            <span>Postgresql</span>
        </div>
        <div class="tech-card">
            <img src="assets/simple-icons/Mysql.svg" alt="MySQL">
            <span>MySQL</span>
        </div>
        <div class="tech-card">
            <img src="assets/simple-icons/Mongodb-tech.svg" alt="MySQL">
            <span>MongoDB</span>
        </div>
    </div>
     

    
</div> 
</div>